<div>
  <div class="row bg-title ng-scope">
    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
      <h4 class="page-title">Welcome</h4>
    </div>
    <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
      <ol class="breadcrumb">
        <li>
          <a>Random Quiz</a>
        </li>
        <li class="active">Welcome</li>
      </ol>
    </div>
  </div>
  <div class="wrapper ng-scope">
    <div class="row">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Welcome to Test Prep Tools</h3>
          <p class="card-text">Access your test prep dashboard to review test scores, take a practice test.
            <br>
            With our experience and your active participation we will embark on a journey to dominate any technical
            interview. In this
            portal you’ll find your practice tests, detailed score reports. These resources provide a powerful
            supplement to your knowledge as you find the keys to
            unlock any interviews.
            <br>
            Best of luck and let’s get to work!
          </p>
          <a routerLink="/quiz" class="btn btn-primary">
            <i class="fa fa-play-circle m-r-10"></i> Start Quiz</a>
        </div>
      </div>
    </div>
  </div>
</div>