<div class="text-left col-sm-6">
    <button class="btn btn-info" [disabled]="prevDisabled" (click)="previous()"> <i class="fa fa-arrow-left"></i>
        Previous</button>
    <button class="btn btn-warning" (click)="review($event)"> <i class="fa fa-eye"></i> Review</button>
</div>


<div class="text-right col-sm-6">
    <button class="btn btn-warning" (click)="submit()">Submit <i class="fa fa-send-o"></i></button>
    <button class="btn btn-info" [disabled]="nextDisabled" (click)="next()">Next <i
            class="fa fa-arrow-right"></i></button>
</div>